		<!-- PAGE CONTENT -->
		<article>
			<h2>Σχετικά με εμάς</h2>
			<hr>
			<br>
			<br>
			<h5>Η Εταιρία</h5>
			<p>
				Το ηλεκτρονικό κατάστημα μας ξεκίνησε τη λειτουργεία του τον Μάιο του 2021
				στα πλαίσια μιας εργασίας στο μάθημα Προγραμματισμός Διαδικτύου
				του τμήματος Ηλεκτρολόγων Μηχανικών και Τεχνολογίας Υπολογιστών του Πανεπιστημίου Πατρών.
			</p>
			<br>
			<p>
				Το ηλεκτρονικό μας κατάστημα δημιουργήθηκε με σκοπό να προσφέρει τις ίδιες υψηλού επιπέδου υπηρεσίες
				σε όσους επιλέγουν τις ηλεκτρονικές αγορές.
			</p>
			<br>
			<br>
			<h5>Το Προσωπικό</h5>
			<p>
				Το προσωπικό μας και ιδιαίτερα οι πωλήσεις και το τεχνικό τμήμα, είναι πιστοποιημένο από τους
				μεγαλύτερους κατασκευαστές,
				έτσι ώστε να διασφαλίζεται η καλύτερη δυνατή ποιότητα των υπηρεσιών που σας προσφέρουμε.
				Προτεραιότητά μας είναι να έχουμε συνεχή ενημέρωση γύρω από τις εξελίξεις στο διεθνή χώρο,
				έτσι ώστε να είμαστε σε θέση να υποστηρίξουμε οποιαδήποτε απαίτησή σας.
			</p>
			<br>
			<br>
			<h5>Οι Πελάτες</h5>
			<p>
				Πελάτες μας είναι ιδιωτικές εταιρίες, Ελληνικές και πολυεθνικές, Τράπεζες, Εκπαιδευτικά Ιδρύματα και
				δημόσιοι οργανισμοί.
			</p>
			<br>
			<p>
				Για την καλύτερη δυνατή εξυπηρέτηση των πελατών μας μία ομάδα έμπειρων στελεχών βρίσκονται καθημερινά
				στη διάθεση σας
				στο τηλέφωνο, 2610-123456, για να σας εξυπηρετήσουν σε οτιδήποτε χρειαστεί, από τη διευθέτηση μίας
				τηλεφωνικής παραγγελίας,
				την παροχή συμβουλών πριν την αγορά και τη διαμόρφωση μίας ειδικής πρότασης,
				έως την εξυπηρέτηση σε θέματα παραδόσεων και κλήσεων για τεχνικούς.
			</p>
			<br>
			<br>
		</article>
		<!-- END PAGE CONTENT -->
