<!-- PAGE CONTENT -->
<article>
    <h2>Τρόποι Πληρωμής</h2>
    <hr>
    <br>
    <br>
    <h5>1. Αντικαταβολή</h5>
    <p>
        Εξοφλήστε την παραγγελία σας με την παράδοση της, στο χώρο σας. Η Αντικαταβολή έχει επιβάρυνση 2€
    </p>
    <br>
    <br>
    <h5>2. Παραλαβή και πληρωμή της παραγγελίας σας από την Έδρα μας</h5>
    <p>
        Κάντε την παραγγελία σας έως τις 15.00 και παραλάβετε τα προϊόντα σας από την έδρα μας κατόπιν
        συνεννόησης με το τμήμα πωλήσεων.
        Από ΔΕΥΤΕΡΑ έως ΠΑΡΑΣΚΕΥΗ, 08.30 - 16.30.
        Για την παραλαβή αποστέλλεται email όταν είναι διαθέσιμο το προιόν για παραλαβή.
        Τα προϊόντα δεσμέυονται για 3 εργάσιμες ημέρες.
        Mετά το πέρας των 3 ημερών οι παραγγελίες διαγράφονται και τα προϊόντα αποδεσμέυονται.
    </p>
    <br>
    <br>
    <h5>3. Πιστωτική κάρτα</h5>
    <p>
        Το κατάστημά μας δέχεται όλες τις πιστωτικές κάρτες Visa, Mastercard και American Express.
        Οι συναλλαγές σας με πιστωτική πραγματοποιούνται κάτω από την Ασφαλή ιστοσελίδα πληρωμής και με το κύρος
        της Alpha bank.
        Για την διασφάλιση της συναλλαγής υπάρχει περίπτωση να ζητηθεί φωτοτυπία ταυτότητας και πιστωτικής
        κάρτας.
    </p>
    <br>
    <br>
    <h5>4. Πληρωμή με Πιστωτική Κάρτα σε Δόσεις.</h5>
    <p>
        Μπορείτε να πληρώσετε με Πιστωτική Κάρτα με εώς 6 (έξι) δόσεις. Η επιβάρυνση είναι 1,2% ανά δόση επί της
        τιμής.
    </p>
    <br>
    <br>
    <h5>5. Κατάθεση σε τραπεζικό λογαριασμό.</h5>
    <p>
        Οι παραγγελίες που είναι η πληρωμή τους, κατάθεση σε τράπεζα πρέπει να εξοφλούνται εντός 24 ωρών από την
        παραγγελία
        αλλιώς δεν θα λαμβάνονται υπόψιν και θα διαγράφονται. Εάν δεν έχετε πιστωτική κάρτα, μπορείτε να
        εξοφλήσετε την παραγγελία σας
        μέσω τραπεζικού λογαριασμού. Προεξοφλήστε την παραγγελία σας σε ένα από τους ακόλουθους λογαριασμούς των
        Τραπεζών που συνεργαζόμαστε,
        στείλτε μας το αντίγραφο της τραπεζικής εντολής πληρωμής με email.
    </p>
    <br>
    <br>
    <h5>Τραπεζικοί Λογαριασμόι</h5>
    <p>
        ΕΘΝΙΚΗ - .....
    </p>
    <p>
        EUROBANK - .....
    </p>
    <p>
        ALPHA - .....
    </p>
    <p>
        ΠΕΙΡΑΙΩΣ - .....
    </p>
    <br>
    <br>

</article>
<!-- END PAGE CONTENT -->