<!-- PAGE CONTENT -->
<article>
    <h2>Τρόποι Αποστολής</h2>
    <hr>
    <br>
    <br>
    <h5>Αττική</h5>
    <br>
    <p>
        Για δέματα έως 2 κιλά: 6,00€ (συμπεριλαμβανομένου Φ.Π.Α.).
    </p>
    <br>
    <p>
        Εξαιρούνται τα Νησιά & Περιοχές που δεν εξυπηρετούνται από το Δίκτυο μας.
    </p>
    <br>
    <br>
    <br>
    <h5>Εκτός Αττικής</h5>
    <br>
    <p>
        Για εκτός Αττικής περιοχές, τα έξοδα αποστολής είναι:
    </p>
    <br>
    <p>
        - 6,00€ με Φ.Π.Α. 24% για δέματα μέχρι 2 κιλά.
    </p>
    <p>
        - Από 8,00€ έως 10,00€ για δέματα έως 10 κιλά με Μεταφορική.
    </p>
    <br>
    <br>
    <p>
        Για Δυσπρόσιτες Περιοχές Εκτός Αττικής τα έξοδα αποστολής είναι:
    </p>
    <br>
    <p>
        - 6,00€ με Φ.Π.Α. 24% για δέματα μέχρι 2 κιλά, με Courier.
    </p>
    <p>
        - 17,00€ με Φ.Π.Α. 24% για δέματα μέχρι 10 κιλά, με Μεταφορική.
    </p>
    <br>
    <br>
    <p>
        Εφόσον το δέμα ξεπεράσει τα προκαθορισμένα κιλά θα υπάρχει έξτρα χρέωση βάση του συνολικού βάρους της
        παραγγελίας σας
        και θα ενημερωθείτε για το κόστος πριν την τελική επιβεβαίωση της παραγγελίας σας και την εξόφληση της.
    </p>
    <br>
    <br>
    <br>
    <h5>Χρόνος παράδοσης:</h5>
    <br>
    <p>
        Εάν το προϊόν που έχετε επιλέξει είναι ετοιμοπαράδοτο στην Έδρα μας, σας το παραδίδουμε εντός μίας
        εργάσιμης ημέρας.
    </p>
    <br>
    <p>
        Εάν είναι διαθέσιμο στις αποθήκες της Αντιπροσωπείας, σας το παραδίδουμε εντός 2 με 3 εργάσιμες ημέρες.
    </p>
    <br>
    <p>
        Εάν έχει εξαντληθεί ή δεν υπάρχει άμεσα παραδοτέο στον Αντιπρόσωπο, τότε συνεννοείστε με το τμήμα
        πωλήσεων του Quickshop
        για την ημερομηνία παράδοσης και αποστολής ή αλλαγής του με κάποιο παραπλήσιο προϊόν.
    </p>
    <br>
    <br>
</article>
<!-- END PAGE CONTENT -->